<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/order_list.css') }}">
</head>
<body>
    <h1>Table of Commands</h1>
    {% for element in xml_files %}
        <div class="command">
            <h2>{{element}}</h2>
            <a href="/command-list/open/{{element}}">View</a>
            <a href="/delete/{{element}}">Delete</a>
        </div>
    {% endfor %}
</body>
</html>
